extends layout

block content
 h3= title
 p
  if(myTopics == "No Topics") 
   |You Have no Topics Create or Join 
  else
   |My Topics
   ul
    each topic in myTopics
     li
      a(href="/topic/#{topic.id}") #{topic.name}
 p
  a(href="/topics") Topics
  hr
  a(href="/logout") logout