extends layout

block content
 h3= title
 p
  |My Topics
  ul
    each topic in myTopics
     li
      a(href="/topic/#{topic.topicId}") #{topic.topicName}
 p
  a(href="/topics") Topics
  hr
  a(href="/logout") logout