extends layout

block content
  h3= title
  p 
  |Welcome to Adda
  br
  |Please 
  a(href="/registration") register
  |&nbsp;or 
  a(href="/login") login
  |&nbsp;to continue
  p Top 5 Prasange
  ul
    each topic in topics
     li #{topic.name}