extends layout

block content
  p.welcomeMessage
   |Welcome to Adda
   br
  h1.pageIdentifier= title
  if(loggedIn)
   p.menus
    a(href="/dashboard") Dashboard
    |&nbsp;&nbsp;
    a(href="/logout") logout
  else
   p.menus
    a(href="/registration") Register
    |&nbsp;&nbsp;
    a(href="/login") Login
  div.topFiveTopics
   h3 Top Five Discussed Prasanges
   ul
    each topic in topics
     li #{topic.name}