extends layout
block vars
 - var title = "Register"

block content
  h1.pageIdentifier
   |Register your account:
  if error
   p.errorMessage ERROR : #{error}
  form(action="/registration" method="POST")
   span.registerForm 
    |Name:&nbsp;
    input(type="text" name="name" placeholder=" Enter your name" required)
   br
   br
   br
   span.registerForm
    |Email:&nbsp;
    input(type="email" name="email" placeholder=" Enter your email-id" required)
   br
   br
   br
   span.registerForm
    |Password:&nbsp;
    input(type="password" name="password" placeholder=" Enter New Password" required)
   br
   br
   br
   input(type="submit" value="Register" class="registerLoginButton")