extends layout

block content
 h1.pageIdentifier= title
 p.menus
  a(href="/dashboard") Dashboard
  |&nbsp;&nbsp;
  a(href="/logout") Logout
 
 script(src="javascripts/topics.js")
 p
  form(action="topicAdd" method="post")
   span.registerForm
    |Name:&nbsp;
    input(type="text" name="topicName" placeholder=" Enter topic name" required)
   br
   br
   br
   span.registerForm
    |Description:&nbsp;
    input(type="text" name="topicDescription" placeholder=" Write the description" required)
    |&nbsp;&nbsp;
   br
   br
   br
   input(type="submit" value="Add Topic" class="registerLoginButton")
 br
 hr
 p
  form(action="/searchTopic" method="post")
   h8.searchTopic Search Topic Here:
   p
    input(type="text" name="searchKeyWord" id="searchText" placeholder=" Enter topic name")
    input(type="button" onclick="onSearch()" value="Search" class="registerLoginButton")
    sub  [ **Empty search gives all topics ]
  div(id="searchResults" class="searchTopicResult")