extends layout
block links
 a(href="/dashboard" class="title") 
  h4 Dashboard 
block content
 h3= title
 
 script(src="javascripts/topics.js")
 p
  form(action="topicAdd" method="post")
   |Name:
   input(type="text" name="topicName" required)
   |Description:
   input(type="text" name="topicDescription" required)
   input(type="submit" value="Add Topic")
 p
  form(action="/searchTopic" method="post")
   |Search Topic Here:
   input(type="text" name="searchKeyWord" id="searchText")
   input(type="button" onclick="onSearch()" value="Search" )
   sub  [To see all topics, leave search box empty & click on search button]
 div(id="searchResults")