body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div{
	background-color: yellow;
}

h1{
	background-color: #F5A9F2;
}

.title{
  text-decoration: none;
}