body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f1f1f1;
}

input {
  display: inline;
  margin: 0;
  width: 20%;
  height: 20%;
  font-size: 15px;
  border-radius: 4px;
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

a {
  color: #584d64;
}

sub{
  color: red;
  font-size: 15px;
}

textarea {
  width: 500px;
}

.titleBorder {
  border-radius: 35px;
  color: #584d64;
  border: 2px solid #a1a1a1;
    padding: 10px 40px; 
    background: #dddddd;
    width: 300px;
    font-family: Segoe UI;
    font-size: 40px;
}

.title {
  text-decoration: none;
}

.welcomeMessage {
  text-align: center;
  color: #584d64;
  font-size: 25px;
  font-family: Segoe UI;
}

.menus {
  text-align: right;
  font-family: Segoe UI;
  font-size: 25px;
}

.pageIdentifier {
  color: #584d64;
  font-family: Segoe UI;
  font-size: 35px;
}

.topics {
  border-radius: 35px;
  color: #584d64;
  border: 2px solid #a1a1a1;
  padding: 10px 40px; 
  background: #dddddd;
  width: 350px;
  font-family: Segoe UI;
  font-size: 20px;
}

.registerForm {
  color: #584d64;
  padding: 10px 40px; 
  font-family: Segoe UI;
  font-size: 20px;
}

.registerLoginButton {
  color: #584d64;
  font: 15px bold, Segoe UI;
  width: 10%;
  margin-left: 45px;
}

.errorMessage {
  color: #584d64;
  padding: 10px 40px; 
  font-family: Segoe UI;
  font-size: 20px;
}

.searchTopic {
  color: #584d64;
  font-family: Segoe UI;
  font-size: 25px;
}

.searchTopicResult {
  color: #584d64;
  padding: 10px 40px; 
  width: 350px;
  font-family: Segoe UI;
  font-size: 17px;
}

.topicHeadding {
  color: #584d64;
  font-family: Segoe UI;
  font-size: 35px;
  text-align: center;
}

.topicInformation {
  color: #584d64;
  padding: 10px 40px; 
  width: auto;
  font-family: Segoe UI;
  font-size: 18px;
  display: inline-block;
}

.description {
  border-radius: 20px;
  color: #584d64;
  padding: 10px 40px; 
  background: #dddddd;
  width: 350px;
  font-family: Segoe UI;
  font-size: 20px;
}

.comment {
  display: inline-block;
  color: #584d64;
  padding: 10px 40px; 
  width: auto;
  font-family: Segoe UI;
  font-size: 20px;
}